.main-card {
  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    
  
  
   
  }
  
  .card {
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 300px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card img {
    border-radius: 8px;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  
  .card h1 {
    font-size: 24px;
    margin: 10px 0;
  }
  
  .card p {
    font-size: 16px;
    margin: 5px 0;
  }
  